.highlight-bar {
	fill: black;
	stroke: white;
	opacity: 0.1;
}

line {
  stroke: #fff;
}


header aside,
footer aside {
  float: left;
  margin-right: .5em;
}

header aside:after,
footer aside:after {
  padding-left: .5em;
  content: "/";
}

#matrix-factorization > svg {
  font: 10px sans-serif;
}

text.active {
  fill : red;
}

#matrix-factorization {
    box-sizing: border-box;
    /* padding: 0px 180px; */
    height: 705px;
    text-align: center;
}

#for-svg-matrix {
    height: 610px;
    width: 1300px;
    overflow: auto;
}

.box-wrap {
  background: rgba(46, 115, 252, 0.11);
  border-radius: 0.1em;
  border: 2px solid rgba(98, 155, 255, 0.81);
}